// Import here your custom styles & layouts

// Insert custom styles here
@import "./utils/main";

.headline {
  text-align: center;
  font-weight: 500 !important;
  font-size: 0.9rem !important;
  padding: 50px 20px;
}
